*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.header {
    background-color: #7a8964;
    /* background-size: cover; */
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;   
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-around;
}

.cinestiny {
    width: 400px;
}

.main {
    background-color: #a9b893;
    height: 100vh;
    margin-top: 100px; 
}

iframe {
    height: 650px;
    width: 100%;
}

.footer {
    background-color: #7a8964;
    height: 100px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Qlink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.owners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact ul li {
   list-style: none;
}