*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-color: #a9b893;
    /* height: 100vh; */

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.film {
    background-color: #96a481;
    margin: 10px;
    width: 95%;
    /* height: 300px; */
    border-radius: 15px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filmImg {
    width: 190px;   
}

.img {
    border-radius: 10px;
    overflow: hidden;
}

.txt {
    width: 70%;
    padding: 20px;
}

.txt h3 {
    margin: 20px;
}

.info {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sinopse {
    width: 60%;
    padding: 20px;
}

.informacoes {
    width: 40%;
    padding: 20px;
}